{
  "parser": "typescript",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 80,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf"
}
